<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'loginsys/login.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Football Club</title>
    <style>
   body {
    background-image: url("../fone.jpg"); /* Путь к фоновому изображению */
    /*background-color: #c7b39b; /* Цвет фона */
   }
  </style>
    <script type="text/javascript"> function displ(ddd)
    { if (document.getElementById(ddd).style.display = 'none')
    {document.getElementById(ddd).style.display = 'block'}
    else
        {document.getElementById(ddd).style.display = 'none'} }
    </script>
</head>
<body>

<a href="javascript: displ('var')"> скрытый текст</a>
<div id="var" style="display: none;">
Этот скрытый текст сделан с помощью JavaScript. И вот по какому принципу он работает:... (далее по тексту)
</div>
<a href="javascript: displ('var')"> Закрыть текст и читать далее.</a>

<div class="top-bar">
 <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href={% url "loginsys:logout" %}>Выйти ({{username }})</a> </li>
            {% else %}
                <li><a href={% url "loginsys:login" %}>Войти</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<h1><a href={% url 'football:main' %}>"Liberta" football club</a> </h1>
{% block start %}{% endblock %}
{% block info %}{% endblock %}
{% block tournament %}{% endblock %}
{% block tournaments %}{% endblock %}
{% block login %}{% endblock %}
{% block register %}{% endblock %}
{% block registration %}{% endblock %}
</body>
</html>