{% extends 'main.html' %}

{% block info %}
<p>Для регистрации свое команды в турнире нужно проделать несколько простых шагов:</p>
<p>1. Если вы являетесь незарегистрированным пользователем, то нужно пройти процедуру
    <a href={% url "loginsys:register"%}>регистрации</a>. Помимо возможности участвовать в турнире, это позволит вам оставлять комментарии.</p>
    <hr>
<p>2. Ознакомиться со <a href={% url "football:tournaments" %}>списком турниров</a>. На странице вы найдете подробное описание турнира
    и его историю, достаточно просто кликнуть по заголовку турнира. </p>
    <hr>
<p>3. Выберите из списка понравившийся вам турнир, после нажатия на его заголовок, произойдет переход на
    подробным описанием турнира и возможностью оставить свой комментарий. </p>
    <hr>
<p>4. В нижнем углу страницы с описанием турнира будет кнопка "Регистрация",  при нажатии которой произойдет
    переход на страницу регистрации команды в турнире. Эта возможность доступна только для зарегестрированных
    пользователей.</p>
    <hr>
{% endblock %}